{% extends "base.html" %}

{% block title %}
LogAnalyzer for Quest - Contact
{% endblock %}

{% block content %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="card text-center">
  <div class="card-block">
    <h1 class="card-title">Ondrej Zizka</h1>
    <h3 class="card-subtitle mb-2 text-muted">Author</h3>
    <p class="card-text">Technical Support at Quest<br/>Cork, Ireland</p>
    <p class="card-text"><a href="mailto:ondrej.zizka@quest.vom">ondrej.zizka@quest.com</a>
    </p>

  </div>
</div>
{% endblock %}