{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
LogAnalyzer - Login
{% endblock %}

{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center">Quest LogAnalyzer - Login</h1>
        </div>
         <div class="modal-body">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
          {% endwith %}
    <form action="" method="post" class="form-group">
        {{ form.hidden_tag() }}
        {{ render_field(form.username, size=50, class="form-control") }}
        {{ render_field(form.password, size=50, class="form-control") }}
        {{ render_field(form.remember_me, class="custom-control-input") }}
        <input id="submit" name="submit" type="submit" value="Submit" class="btn btn-default  btn-lg btn-block">
    </form>
         </div>
    </div>
 </div>

{% endblock %}

{% block sidebar %}
{% endblock %}