{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
LogAnalyzer for Quest - Upload
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.css') }}">
{% endblock %}

{% block content %}
                <form action="" method="post" enctype="multipart/form-data">

                    <div class="row">
                         <div class="col-sm-12"><div style="height: 20px"></div></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3"></div>
                                <div class="col-sm-6">

                    {{ form.hidden_tag() }}
                    <legend>Support Bundle upload</legend>
                    {{ render_field(form.service_request, size=50, class="form-control input-md", placeholder="Service Request number") }}
                    {% if request.path == "/supportbundles/upload" %}
                        {{ render_field(form.input_file, size=50, class_="btn btn-default btn-file", placeholder="Support Bundle ZIP file") }}
                    {% endif %}
                    {{ render_field(form.comment, size=50, class="form-control input-md", placeholder="Comment") }}
                    {{ render_field(form.tags, id="tags", size=50, class="form-control input-md", placeholder="Tags") }}
                    <div class="form-group">
                        <div class="col-2 control-label"></div>
                        <div class="col-10">
                            <button id="button1id" name="button1id" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                                </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                <form>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/vendor/selectize.min.js') }}"></script>
<script>
        var _tags = [
        {% for tag in all_tags() %}
            {value: "{{ tag.name }}", text: "{{ tag.name }}"},
        {% endfor %}
        ];
        $('#tags').selectize({
                    plugins: ['remove_button'],
                    delimiter: ',',
                    persist: false,
                    options: _tags,
                    create: function(input) {
                        return {
                            value: input,
                            text: input
                        }
                    }
        });
</script>
{% endblock %}