{% extends "base.html" %}
{% from "form_macros.html" import render_field_forms %}

{% block title %}
LogAnalyzer - Signup
{% endblock %}

{% block content %}
<form class="form-horizontal" action="" method="post">
        {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-sm-12"><div style="height: 20px"></div></div>
    </div>
    <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <!-- Form Name -->
<legend>Registration</legend>

<!-- Text input-->
        {{ render_field_forms(form.username, size=30, class="form-control input-md", placeholder="Username") }}

<!-- Text input-->
        {{ render_field_forms(form.email, size=30, class="form-control input-md", placeholder="E-mail") }}

<!-- Text input-->
        {{ render_field_forms(form.password, size=50, class="form-control input-md", placeholder="Password") }}

<!-- Text input-->
        {{ render_field_forms(form.password2, size=50, class="form-control input-md", placeholder="Confirm password") }}

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-primary">Register</button>
  </div>
</div>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

</form>
{% endblock %}