{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
LogAnalyzer for Quest - Upload
{% endblock %}

{% block content %}
        <div class="jumbotron">
            <div class="container">
                <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    {{ render_field(form.service_request) }}
                    {{ render_field(form.input_file) }}
                    {{ render_field(form.comment) }}
                    <!--
                    <div class="form-group{% if form.sr_number.errors %} alert alert-danger {% endif %}">
                        <label for="sr_number" class="col-2 col-form-label">Service Request number</label>
                        <div class="col-10">
                            <!-- <input class="form-control" type="number" value="" id="sr_number" name="sr_number">
                            {{ form.sr_number(size=20) }}
                        </div>
                        <ul>
                            {% for error in form.sr_number.errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group{% if form.input_file.errors %} alert alert-danger {% endif %}">
                        <label for="input_file">File input</label>
                        <!-- <input type="file" class="form-control-file" id="input_file" aria-describedby="fileHelp" name="input_file">
                        {{ form.input_file() }}
                        <small id="fileHelp" class="form-text text-muted">Please, select a zipped Support Bundle</small>
                        <ul>
                            {% for error in form.input_file.errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="comment">Enter a comment</label>
                        <!--  <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
                        {{ form.comment(class='form-control',style='width:300px; height:150px;') }}
                        <ul>
                            {% for error in form.comment.errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
{% endblock %}