{% extends "base.html" %}

{% block title %}
LogAnalyzer for Quest -- Support Bundles for user {{ user.username }}
{%  endblock %}

{% block content %}
             <h1>Support Bundles for {{ user.username }}</h1>

            {% if user.supportbundle.count() > 0 %}
                    {% with supportbundles=user.supportbundle %}
                        {% include "sb_list.html" %}
                    {% endwith %}
            {% else %}
                No SB yet.
            {% endif %}
{% endblock %}
